.wa-light {
  color: #d4e0e9 !important;
}
.wa-primary {
  color: #215c94 !important;
}
.wa-dark-blue {
  color: #092947 !important;
}

.wa-section-title {
  color: #092947 !important;
}

.wa-article {
  padding: 2em;
}
