<!doctype html>
<html lang="en">
    <head>    

        <title>{% assign title_is_not_empty = page.seo.title | is_not_empty %}{% if title_is_not_empty %}{{ page.seo.title }}{% else %}{{ page.title | append: ' | ' | append: site.title }}{% endif %}</title>
        <meta charset="utf-8">
         <meta content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0" name="viewport" />
        <meta name="google" content="notranslate" />
        <meta name="description" content="{{ page.seo.description | default: '' }}" />
        {% assign robots_is_not_empty = page.seo.robots | is_not_empty %}
        {% if robots_is_not_empty %}
        <meta name="robots" content="{{ page.seo.robots | join: ',' }}">
        {% endif %}
        {% for meta in page.seo.extra %}
          {% assign key_name = meta.keyName | default: 'name' %}
          {% assign relativeUrl_is_not_empty = meta.relativeUrl | is_not_empty %}
          {% if relativeUrl_is_not_empty %}
            {% assign domain_is_not_empty = site.domain | is_not_empty %}
            {% if domain_is_not_empty %}
              {% assign domain = site.domain | trim: '/' %}
              {% assign rel_url = meta.value | relative_url %}
              {% assign full_url = domain | append: rel_url %}
              <meta {{ key_name }}="{{ meta.name }}" content="{{ full_url }}">
            {% endif %}
          {% else %}
            <meta {{ key_name }}="{{ meta.name }}" content="{{ meta.value }}">
          {% endif %}
        {% endfor %}
        <link rel="stylesheet" href="{{ 'css/main.css' | relative_url }}">
        {% assign favicon_is_not_empty = site.favicon | is_not_empty %}
        {% if favicon_is_not_empty %}
        <link rel="icon" href="{{ site.favicon | relative_url }}">
        {% endif %}

   

      <link rel="stylesheet" type="text/css" href="{{ 'css/bootstrap.css' | relative_url }}">
      <link rel="stylesheet" type="text/css" href="{{ 'css/rubick.css' | relative_url }}" >

      <!--     Fonts and icons     -->
      <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css" rel="stylesheet" />
      <link href="https://fonts.googleapis.com/css?family=Droid+Serif:400,700" rel="stylesheet" type="text/css" />
      <link rel="stylesheet" type="text/css" href="{{ 'css/fonts/pe-icon-7-stroke.css' | relative_url }}" >
      <link rel="stylesheet" type="text/css" href="{{ 'css/fonts/Rubik-Fonts.css' | relative_url }}" >
        
    </head>
    <body id="skrollr-body">
      <div class="loading">
        <div class="loading-container">
          <p>Just a sec...</p>
          <img class="loader" src="{{ 'images/rubik.svg' | relative_url }}" />
        </div>
      </div>
        
        {{ content }}
        <script src="{{ 'js/init.js' | relative_url }}"></script>
        <script src="{{ 'js/jquery-1.11.2.min.js' | relative_url }}"></script>
        <script src="{{ 'js/bootstrap.js' | relative_url }}"></script>
        <script src="{{ 'js/jquery.waypoints.min.js' | relative_url }}"></script>
        <script src="{{ 'js/modernizr.js' | relative_url }}"></script>
        <script src="{{ 'js/rubick.js' | relative_url }}"></script>

        <!--  script for google maps   -->
        <script type="text/javascript" src="https://maps.googleapis.com/maps/api/js?sensor=false"></script>
    </body> 

</html>
